.members {
  border-right: 0.3rem solid black;
  padding: 0 0.5rem;
  background: rgba(214,233,244,1);
}

.members header h2 {
  font-weight: bold;
  margin: 0.8rem 0;
  border-bottom: 1px solid black;
  padding-bottom: 0.8rem;
}

.members ul {
  padding: 0 0.5rem;
  list-style: none;
}

.members ul li {
  padding-bottom: 0.3rem;
}