
.settings-cog-centerer {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-cog {
  height: 30.87px;
  width: 32px;
}

.settings form {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 1rem;
}