section.sky {
  grid-area: msg-box;
  position: relative;
  overflow: hidden;
}

div.jet-positioner {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  transition-duration: 60ms;
  transition-timing-function: linear;
}

span.jet-owner {
  position: absolute;
  left: 110%;
  top: -0.5em;
  font-size: 75%;
}

div.jet {
  transform-origin: 50% 50%;
  height: 30px;
  width: 30px;
  clip-path: polygon(50% 0%, 0% 100%, 50% 70%, 100% 100%);
  transition-duration: 60ms;
  transition-timing-function: linear;
}