section.sky {
  grid-area: msg-box;
  position: relative;
  overflow: hidden;
}

div.jet-positioner {
  position: absolute;
  transform: translate(-50%, -50%);
  transition-duration: 60ms;
  transition-timing-function: linear;
}

div.jet {
  transform-origin: 50% 50%;
  height: 2rem;
  width: 1rem;
  clip-path: polygon(50% 0%, 0% 100%, 50% 80%, 100% 100%);
  transition-duration: 60ms;
  transition-timing-function: linear;
}