.App {
  display: grid;
  grid-template-columns: 12rem minmax(24rem, calc(100% - 12rem));
  grid-template-rows: 2.5rem calc(100% - 2.5rem);
  grid-template-areas: 
    'header   header  '
    'members  chat-box';
}




.App header.banner {
  grid-area: header;
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(10,83,128,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(60%, rgba(0,0,0,1)), color-stop(100%, rgba(10,83,128,1)));
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(10,83,128,1) 100%);
  background: -o-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(10,83,128,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(10,83,128,1) 100%);
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(10,83,128,1) 100%);
  color: hsl(203, 86%, 68%);
  display: flex;
  justify-content: space-between;
}

.App header.banner h1 {
  align-self: flex-end;
  margin: 0 0 0.5rem 0.8rem;
}




.App aside.members {
  grid-area: members;
}




.App section.chat-box {
  grid-area: chat-box;
}
