.chat-box {
  position: relative;
}

.chat-box div.message-box {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

.chat-box form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  display: grid;
  grid-template-columns: auto 6rem;
}