.chat-box {
  position: relative;
}

.chat-box div.message-box {
  height: calc(100% - 3rem);
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

.chat-box form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
}